body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 422px;
    box-sizing: border-box;
    border: 1px dashed purple;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 20px;
}

.email-input {
    width: 100%;
    height: 52px;
    padding: 16px;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.default-border {
    border-color: brown;
}

.success-border {
    border-color: green;
}

.error-border {
    border-color: red;
}
